<div class="alert" *ngIf="signupForm.submitted">
  <p class="alert-success" *ngIf="isSignupSuccess">Thanks for signing up!</p>
  <p class="alert-error" *ngIf="!isSignupSuccess">There is an error while registering the user!</p>
</div>
<form #signupForm="ngForm" (ngSubmit)="signup()">
  <div class="form-group">
    <label for="firstName">FirstName</label>
    <input type="text" id="firstName" class="form-control" name="firstName" [(ngModel)]="user.firstName" />
  </div>
  <div class="form-group">
    <label for="lastName">LastName</label>
    <input type="text" id="lastName" class="form-control" name="lastName" [(ngModel)]="user.lastName" />
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="text" id="email" class="form-control" name="email" [(ngModel)]="user.email" />
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" id="password" class="form-control" name="password" [(ngModel)]="user.password" />
  </div>
  <div class="form-group">
    <label for="confirmPassword">Confirm Password</label>
    <input type="password" id="confirmPassword" class="form-control" name="confirmPassword" [(ngModel)]="user.confirmPassword" />
  </div>
  <div class="form-group">
    <label for="mobileNumber">Mobile Number</label>
    <input type="text" id="mobileNumber" class="form-control" name="mobileNumber" [(ngModel)]="user.mobileNumber" />
  </div>

  <button type="submit" class="btn btn-default">Signup</button>
</form>
