<!-- <p>Category list - {{ categories | json }}</p> -->
<div class="bg-white px-4 py-12 sm:px-6 lg:px-8">
  <div class="mx-auto max-w-4xl">
    <div class="flex my-4 items-center">
      <h2 class="text-lg">Category List</h2>
      <button id="add-new" class="add-new" class="rounded-md bg-lime-200 px-2 py-2 ml-2" (click)="goToAddNewCategory()">New</button>
    </div>
    <ng-container *ngFor="let category of categories; trackBy: trackCategoryById; let index;">
      <ul role="list" class="divide-y divide-gray-100">
        <app-category-card [categoryTitle]="categoryTitle" [category]="category" (handleCategoryEvents)="handleCategoryEvents($event)"></app-category-card>
      </ul>
    </ng-container>
  </div>
</div>
